.btn {
  padding: 7px 15px;
  background: var(--color-primary);
  color: var(--color-white);
  border: none;
  border-radius: var(--border-radius);
}

.btn:disabled {
  background: var(--color-gray);
}

.btn + .btn {
  margin-left: 10px;
}
