.btn {
  padding: 7px 15px;
  color: var(--color-white);
  border: none;
  border-radius: var(--border-radius);
}

.btn:hover {
  opacity: 0.8;
}

.btn:disabled {
  background: var(--color-gray);
}

.btn:not(:disabled) {
  cursor: pointer;
}

.btn + .btn {
  margin-left: 10px;
}

.btn--color-primary {
  background: var(--color-primary);
}
.btn--color-gray {
  background: var(--color-gray);
}
.btn--color-dark {
  background: var(--color-dark);
}
