.wrap {
  width: 48%;
  padding: 20px;
  align-self: flex-start;
  margin-bottom: 20px;
  background: #c7d3dd;
  border-radius: var(--border-radius);
}

@media (max-width: 768px) {
  .wrap {
    width: 100%;
  }
}
